/* Establecer el fondo y el estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:  url('images/gatitos.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


/* Estilizar los inputs */
input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #EAD8C0;
    border-radius: 5px;
    outline: none;
}

/* Estilizar el contenedor del formulario */
.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Estilizar el botón de submit */
button[type="submit"] {
    background-color: #c4a484;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Estilos generales para los botones dentro de .form-buttons */
.form-buttons button {
    flex: 1; /* Distribuye el espacio igualmente */
    margin: 5px; /* Añade un pequeño margen entre los botones */
    padding: 10px 0; /* Añade algo de padding vertical para hacerlos más altos */
    border: none; /* Remueve el borde */
    border-radius: 5px; /* Añade bordes redondeados */
    color: white; /* Texto blanco para ambos botones */
    font-size: 16px; /* Un tamaño de letra legible */
    cursor: pointer; /* Cambia el cursor a un puntero */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
    margin-right: 20px;
    margin-left: 25px;
}

/* Estilo específico para el botón de login */
.btn-login {
    background-color: #c4a484; 
    width: 100px;
    text-align: center;
}

.btn-login:hover {
    background-color: #9c7a5a; 
}

/* Estilo específico para el botón de registrar */
.btn-register {
    background-color: #c4a484; 
    width: 100px;
    text-align: center;
}

.btn-register:hover {
    background-color: #9c7a5a; 
}

main {
    margin-top: -50px;
}
