/* Paleta de colores basada en la imagen proporcionada */
:root {
    --color-fondo: #f5f2eb; /* un tono claro de fondo */
    --color-texto: #5e503f; /* un marrón oscuro para el texto */
    --color-acento: #c2b8a3; /* un tono neutro para detalles y botones */
    --color-boton-hover: #b0a18c; /* un tono más oscuro para el hover del botón */
  }
  
  /* Aplicar el estilo al cuerpo de la página */
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: 'Arial', sans-serif;
  }
  
  /* Estilos para la notificación */
  .notificacion {
    background-color: white;
    border-left: 4px solid var(--color-acento);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .notificacion p {
    margin: 5px 0;
    color: var(--color-texto);
  }
  
  .notificacion button {
    background-color: var(--color-acento);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    outline: none; /* quita el borde que algunos navegadores añaden al hacer foco */
  }
  
  .notificacion button:hover {
    background-color: var(--color-boton-hover);
  }

  .spaces {
    margin-bottom: 50px; /* Añade un margen debajo del formulario */
  }
  