body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.image-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 500px;
    height: 500px;
}

.image-button:hover img {
    transform: scale(1.1); /* Make the image slightly bigger on hover */
}
body {
    font-family: Arial, sans-serif;
}

.menu-category {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 5px;
}

li::before {
    content: "\2022";
    color: #FFC107; /* Change the bullet color */
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
